* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    text-align: center;
    padding: 5rem;

    transition: background-color 0.3s linear, color 0.3s linear;
}

h1, p {
    margin: 25px;
}

body.dark {
    background-color: #1f1f1f;
    color: white;
}

.toggle-container {
    position: fixed;
    top: 30px;
    right: 30px;
}

label {
    background-color: #1f1f1f;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s linear;
}

body.dark label {
    background-color: #fff;
}

input {
    visibility: hidden;
}